body {
    font-family: Arial;
    background: #f3f3f3;
    padding: 20px;
    margin: 0;
}

h1 {
    margin-bottom: 30px;

  text-align: center;
}

#cardsContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* расстояние между карточками */
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    position: relative;
    border-left: 6px solid #4b8bf5;
    box-sizing: border-box;
    width: 300px;
    /* ограничение ширины карточки на десктопе */
}

.card h3 {
    margin: 0 0 10px 0;
}

label {
    display: block;
    margin: 6px auto;
    max-width: 600px;

}

input[type="number"],
select {
    padding: 6px;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 8px 12px;
    border: none;
    background: #4b8bf5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    /* margin-top: 10px; */
    display: block;
    margin: 30px auto;
}

.remove-btn {
    background: #d64545;
    width: 100%;
    margin-top: 10px;
}

#totalSum {
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    font-weight: bold;
    margin: 30px auto;
    max-width: 600px;
}

.portal-inner {
    border: 1px dashed #888;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #fafafa;
}

/* --- Адаптация под мобильные --- */
@media screen and (max-width: 600px) {
    #cardsContainer {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 100%;
        /* карточка занимает всю ширину */
    }

    input[type="number"],
    select,
    button {
        width: 100%;
        font-size: 1em;
    }

    .remove-btn {
        margin-top: 12px;
    }
}